/* contacts */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* header */

header {
    background-color: black;
    color: #fff;
    float: right;
    width: 70%;
    border-end-start-radius: 20px;
    text-align: center;
    padding: 30px 32px;
}

.logo {
    float: left;
    width: 30%;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
}

ul li a {
    display: flex;
    text-decoration: none;
    color: #fff;
    padding: 0 15px;
    font-size: 18px;
}




/* trucks */


#truck {
   background-image: url("/img/Group\ 483.png");
    background-position: center;
    background-position: cover;
    height: 100vh;

}