/* start */

@media (max-width: 1200px) {
    .hero-content ul li a {
        padding: 10px 15px;
        font-size: 20px;
        gap: 20px;
    }
}

@media (max-width: 992px) {
    header {
        width: 100%;
        border-radius: 0;
    }

    .order-btn {

        padding: 5px 10px;
        font-size: 10px;
    }

}

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    ul li a {
        padding: 8px;
    }
}




@media (max-width: 768px) {
    .info-item {
        flex-direction: column;
        gap: 10px;
    }

    .value {
        text-align: left;
    }

    .title {
        font-size: 24px;
    }

    .text-hero h1 {
        font-size: 50px;
        transform: translateY(-260px);
    }
}





@media (max-width: 992px) {

    header {
        width: 100%;
        float: none;
        border-radius: 0;
    }

    .logo {
        padding: 0 20px;
        width: auto;
        float: right;
    }

    ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-contant {
        flex-direction: column;
        gap: 40px;

        padding: 100px 20px;
        text-align: center;
    }

    .hero-img img {
        height: 300px;
    }

    .text-hero h1 {
        font-size: 50px;
        transform: translateY(-80px);
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
    }

}

@media (max-width: 820px ) {
    .footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

     .info-class {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

     .info-class ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



@media (max-width: 992px) {
    .text-map h1 {
        font-size: 20px;
    }

        .phone {
            display: none;
        }

        .logo {
            display: none;
        }
}





@media (max-width: 768px) {

    .container {
        padding: 0 15px;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    ul li a {
        font-size: 16px;
        padding: 8px;
    }

    #truck {
        height: auto;
        padding: 80px 0;
    }

    .hero-contant {
        padding: 80px 0;
    }



    .hero-img img {
        height: 220px;
    }

    .text-hero h1 {
        font-size: 28px;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .card {
        padding: 30px;
    }

    .slides img {
        display: grid;
    }

    #location {
        padding: 100px 0;
    }

    .map {
        height: 250px;
    }

    .phone {
        font-size: 28px;
        letter-spacing: 3px;
    }

    .footer-links{
        display: grid;
    }


}



@media (max-width: 480px) {
    .socials {
        display: none;
    }

    .label {
        display: none;
    }

    footer {
        padding: 30px;
    }

}




@media (max-width: 992px) {
    .slides img {
        width: 280px;
        height: 350px;
        display: flex;
        padding: 40px 0px;
        border-radius: 20px;
        margin: 0 auto;
    }

    .gallery-title {
        text-align: center;
        padding: 50px 0;
    }

    .short-nav {
        display: flex;
        align-items: center;
        max-width: 400px;
        border-start-end-radius: 0;
    }


}

@media (max-width: 768px) {
    .slides img {
        max-width: 150%;
        display: flex;
        height: 300px;
    }

    .gallery h2 {
        font-size: 28px;
    }
}