/* contacts */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-weight: 100;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* header */

header {
  background-color: black;
  color: #fff;
  float: right;
  width: 60%;
  border-end-start-radius: 20px;
  text-align: center;
  padding: 20px 32px;
}

nav {
    position: relative;
}

.logo {
  float: left;
  padding: 0 300px;
  width: 20%;
  height: 70px;
  display: flex;

  i {
    font-size: 25px;
  }
}


ul {
  display: flex;
}

ul li {
  list-style: none;
}

ul li a {
  display: flex;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  font-size: 18px;
}

/* trucks */

#truck {
  background-image: url("/img/Group\ 483.png");
  background-position: center;
  background-position: cover;
  height: 100vh;
}

.nav-end p {
  padding: 10px 32px;
}

.call-icon i {
    padding: 10px;
}

.order-btn {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s;
  margin-left: 40px;
}

.order-btn:hover {
  background-color: white;
  color: black;
}
