/* contacts */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-weight: 100;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* header */

header {
  background-color: black;
  color: #fff;
  float: right;
  width: 60%;
  border-end-start-radius: 20px;
  text-align: center;
  padding: 20px 32px;
}

nav {
  position: relative;
}

.logo {
  float: left;
  padding: 0 200px;
  width: 20%;
  height: 70px;
  display: flex;

  i {
    font-size: 25px;
  }
}


ul {
  display: flex;
}

ul li {
  list-style: none;
}

ul li a {
  display: flex;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  font-size: 18px;
}

/* trucks */

#truck {
  background-image: url("/img/Group\ 483.png");
  background-position: center;
  background-position: cover;
  height: 100vh;
}

.nav-end p {
  padding: 10px 32px;
}

.call-icon i {
  padding: 10px;
}

.order-btn {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s;
  margin-left: 40px;
}

.order-btn:hover {
  background-color: white;
  color: black;
}



.hero-contant {
  display: flex;
  align-items: center;
  gap: 400px;
  padding: 180px 0;
}

.hero-img img {
  height: 430px;
}

.text-hero h1 {
  color: #fff;
  font-size: 60px;
  padding: 25px 35px;


}





/* map cards page */



.text-map {
  font-family: sans-serif;
  font-size: 22px;
  padding: 100px 0;
}



.location {
  padding: 50px;
  background: #0b111a;
  color: white;
}

.top-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.top-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: #121c28;
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  background: #1c2a3a;
}

.card.active {
  background: linear-gradient(135deg, #1e90ff, #00c6ff);
}

.card-top {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  opacity: 0.8;
}

.card-top i {
  color: #00c6ff;
  font-size: 18px;
}

.card h3 {
  font-size: 20px;
  font-weight: 500;
}

.card:hover {
  background: #1c2a3a;
}

.card.active {
  background: #1e90ff;
}

.bottom {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 30px;
}

.info-card {
  background: #121c28;
  padding: 20px;
  border-radius: 15px;
}

.img-box {
  height: 150px;
  background: #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.map-box {
  background: #0f1a26;
  border-radius: 15px;
  min-height: 350px;
}