/* contacts */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-weight: 100;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* header */

header {
  background-color: black;
  color: #fff;
  float: right;
  width: 60%;
  border-end-start-radius: 20px;
  text-align: center;
  padding: 20px 32px;
}

nav {
  position: relative;
}

.logo {
  float: left;
  padding: 0 200px;
  width: 20%;
  height: 70px;
  display: flex;

  i {
    font-size: 25px;
  }
}


ul {
  display: flex;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 40px;
  font-size: 18px;
}

/* trucks */

#truck {
  background-image: url("/img/Group\ 483.png");
  background-position: center;
  background-position: cover;
  height: 100vh;
}

.nav-end p {
  padding: 10px 32px;
}

.call-icon i {
  padding: 10px;
}

.order-btn {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s;
  margin-left: 40px;
}

.order-btn:hover {
  background-color: white;
  color: black;
}



.hero-contant {
  display: flex;
  align-items: center;
  gap: 400px;
  padding: 180px 0;
}

.hero-img img {
  height: 430px;
}

.text-hero h1 {
  color: #fff;
  font-size: 60px;
  padding: 25px 35px;


}





/* map cards page */



.text-map {
  font-family: sans-serif;
  font-size: 22px;
  padding: 20px 0;
  color: white;
}

#location {
  background-color: #0e1116;
  padding: 100px 0;
}



.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  background: #1a1f2e;
  border: 1px solid #2a3040;
  border-radius: 10px;
  padding: 50px;
  cursor: pointer;
  border: none;
}

.card.active {
  background: #12a5de;
  color: #000;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  color: white;

  i {
    color: white;
    font-size: 37px;
  }

  span {
    font-weight: 900;
    font-size: 15px;

  }
}

.card-title {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 15px;
  color: white;
  position: relative;
  top: 30px;
}

.card-info {
  display: none;
  font-size: 14px;

}

.card.active .card-info {
  display: block;
}

.card-info div {
  margin: 5px 0;
}

.map {
  background: #1a1f2e;
  border: 1px solid #2a3040;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
  height: 400px;
}

.contact {
  background: #1a1f2e;
  border: 2px solid white;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

.phone {
  font-size: 46px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  letter-spacing: 7px;
}







/* company section */

.company {
  background: #0b111a;
  padding: 80px 0;
  font-family: sans-serif;
  color: white;
}


.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.company h2 {
  font-size: 42px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info>div {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding: 25px 30px;
  border-radius: 12px;
}

.info>div:nth-child(odd) {
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.02) 100%);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.info>div span:first-child {
  flex: 1;
  font-size: 15px;
  opacity: 0.7;
}

.info>div span:last-child {
  flex: 1;
  font-size: 15px;
  text-align: right;
}





.gallery {
  background: #0b111a;
  padding: 80px 0;
  color: white;
  font-family: sans-serif;
  flex-wrap: wrap;
}

.gallery h2 {
  font-size: 40px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

/* SLIDER */

.slider {
  position: relative;
  align-items: center;
  display: flex;
}

.slides {
  display: flex;
  gap: 35px;
  scroll-behavior: smooth;
}

.slides img {
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
  transition: 0.3s;
  z-index: 100;
}




.navvv {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  opacity: 0.7;
  transition: 0.3s;
}




/* footer */


footer {
  background: #0b111a;
  padding: 250px 0;
  font-family: sans-serif;
  color: white;
}

.short-nav {
  background-color: #11161f;
  color: #fff;
  float: left;
  width: 30%;
  border-start-end-radius: 20px;
  text-align: center;
  padding: 20px 25px;
}

.contact-box {
  color: white;
  position: relative;
  left: 110px;
}

.phone-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.label {
  font-size: 14px;
  opacity: 0.7;
}

.phone {
  font-size: 32px;
  font-weight: 500;
}

.socials {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 15px;
}

.socials a {
  width: 40px;
  height: 40px;
  background: #111a25;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
}





.footer-links {
  display: grid;
  gap: 60px; grid-template-columns: repeat(5, 1fr);
  margin-bottom: 60px;

  color: white;
}

.footer-links h4 {
  color: white;
  font-size: 14px;
  margin-bottom: 15px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
  font-size: 13px;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}

.footer-links li:hover {
  opacity: 1;
  color: white;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  padding-top: 20px;
  font-size: 13px;
}

.footer-bottom a {
  color: #9aa4b2;
  text-decoration: none;
  transition: 0.3s;
}

