*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "M PLUS Rounded 1c", sans-serif;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #0E1116;
}
a{
    text-decoration: none;
}
header{
    backdrop-filter: grayscale(1);
}
.header-container{
    min-height: 900px;
    background: linear-gradient(0deg, rgb(0 0 0), #ffffff00,transparent, rgb(0 0 0)), url(banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}
.header-top__container{
    width: 100%;
    display: flex;
    justify-content: end;
    background: #00000040;
    align-items: center;
    min-height: 100px;
}
.header__top-block{
    max-width: 1820px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-top-left__wrapper{
    max-width: 300px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header-numbers__wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 493px;
    width: 100%;
    align-items: center;
}
.header-top-right__wrapper{
    max-width: 1397px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.header-numbers__langues{
    display: flex;
    gap: 15px;
}
.header-icon_bell{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-icon_bell > img{
    width: 24px;
    height: 27.5px;
}
.header-contact{
    display: flex;
    align-items: center;
    gap: 5px;
}
.header-phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 461px;
    width: 100%;
}
.bars__wrapper{
    width: 30px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bars__wrapper > img{
    width: 30px;
    height: 24px;
    color: #FFFFFF;
}
.header_logo{
    max-width: 238px;
    width: 100%;
    height: 73px;
    color: #FFFFFF;
}
.langues-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 100%;
}
.header-numbers_text{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
}
.header-certificates_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
}
.text-small-white700{
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
}
.header-group-icon{
    width: 50px;
    height: 50px;
}
.header-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 1);
    padding: 15px 28px;
}
.header-center__container{
    max-width: 1538px;
    width: 100%;
    margin: 0 auto;
}
.header-center__container{
    margin: 0 auto;
    max-width: 1538px;
    width: 100%;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.header__menu-block > ul{
    max-width: 740px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
}
.header-center-content__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.text-biggest_title{
    font-weight: 600;
    font-size: 80px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text-primary_content{
    font-weight: 300;
    font-size: 25px;
    line-height: 100%;
    color: #FFFFFF;
}
.header-center-img{
    max-width: 603px;
    width: 100%;
    height: 530px;
}
.header-bottom__container > i{
    color: #FFFFFF;
    font-size: 23px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.container--small{
    min-height: 609px;
}
.container--big{
    min-height: 943px;    
}
.home__wrapper{
    margin: 0 auto;
    max-width: 1538px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 609px;
}
.home__wrapper > div > img{
    max-width: 392px;
    width: 100%;
    height: 230px;
}
.home-text{
    font-weight: 600;
    font-size: 35px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.home__wrapper > div{
    display: flex;
    flex-direction: column;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    padding: 30px 30px 70px 30px;
    gap: 50px;
}
.delivery__wrapper{
    width: 100%;
    max-width: 1538px;
    margin: 0 auto;
    border: 2px solid white;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.25) -6.44%, rgba(255, 255, 255, 0) 109.77%);
    backdrop-filter: blur(25px);
    background-color: #FFFFFF0D;
    padding: 50px 60px;
    position: relative;
    border-radius: 15px;
}
.text-big_title{
    font-weight: 600;
    font-size: 50px;
    line-height: 100%;
    vertical-align: bottom;
    text-transform: uppercase;
    color: #FFFFFF;
}
.delivery-bold-text{
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
}
.delivery-input{
    border: 2px solid;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) -16.31%, rgba(255, 255, 255, 0.25) 110.68%);
    background: #FFFFFF0D;
    outline: none;
    padding: 12px 16px;
    border-radius: 15px;
    max-width: 694px;
    width: 100%;
    height: 80px;
}
.delivery-icon{
    font-size: 23px;
    color: #FFFFFF;
}
.delivery-cars__wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
}
.delivery-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
    width: 100%;
    max-width: 211px;
    min-height: 154px;
}
.delivery-cards_numbers{
    max-width: 211px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #FFFFFF0D;
    border: 2px solid #FFFFFF;
    backdrop-filter: blur(25px);
    border-radius: 15px;
}
.delivery-input2{
    max-width: 453px;
    width: 100%;
    background: #FFFFFF0D;
    border: 2px solid;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) -16.31%, rgba(255, 255, 255, 0.25) 110.68%);
    backdrop-filter: blur(25px);
    outline: none;
    padding: 0 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    height: 80px;
}
.delivery-center{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.delivery-center__left-block{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.delivery-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 130px;
    margin-bottom: 70px;
}
.delivery-center__rigth-block{
    min-height: 466px;
    width: 100%;
    max-width: 634px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-primary_tiny{
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
}
.checkbox-style{
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    width: 30px;
    height: 30px;
}
.delivery-checkbox_wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
}
.delivery-bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.delivery-center_angledown{
    display: flex;
    justify-content: end;
    align-items: end;
}
.delivery-30min{
    display: flex;
    flex-direction: column;
    min-height: 172px;
    max-width: 694px;
    width: 100%;
    justify-content: space-between;
}
.delivery-30min-div{
    display: flex;
    justify-content: space-between;
}
.delivery-bottom_speed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 240px;
    width: 100%;
}
.delivery-bottom-leftblock{
    display: flex;
    justify-content: space-between;
    max-width: 720px;
    width: 100%;
}
.delivery-53day > h1{
    font-weight: 600;
    font-size: 80px;
    line-height: 100%;
    vertical-align: bottom;
    text-transform: uppercase;
    color: #FFFFFF;
}
.delivery-53day > span{
    font-weight: 600;
    font-size: 50px;
    line-height: 100%;
    vertical-align: bottom;
    text-transform: uppercase;
    color: #FFFFFF;
}
.delivery-big_btn{
    font-weight: 300;
    font-size: 35px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #12A5DE;
    border: 2px solid;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 240px;
    position: absolute;
    bottom: 0;
    right: 0;
    outline: 30px solid #0E1116;
}
.about__wrapper{
    width: 100%;
    max-width: 1538px;
    margin: 0 auto;
    min-height: 943px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-margin{
    margin: 100px 0;
}
.about__title{
    font-weight: 800;
    font-size: 35px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text-icon__wrapper{
    display: flex;
    gap: 25px;
}
.about-block__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 754px;
    width: 100%;
    gap: 30px;
}
.about-content__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.about-block__wrapper > div{
    max-width: 754px;
    width: 100%;
    min-height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
}
.about-block__wrapper > div > h1{
    font-weight: 600;
    font-size: 33px;
    line-height: 114.99999999999999%;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 400px;
    width: 100%;
}
.important-text_style{
    font-weight: 300;
    font-size: 35px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.profit__wrapper{
    max-width: 1538px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profit-card__wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 1538px;
    width: 100%;
    align-items: center;
}
.profit-card{
    max-width: 452px;
    width: 100%;
    border-radius: 15px;
    background: #FFFFFF0D;
    border: 2px solid;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 107.4%);
    backdrop-filter: blur(25px);
    min-height: 452px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    overflow: hidden;
    padding: 0 30px;
}
.profit-card-img__wrapper{
    display: flex;
    justify-content: end;
    align-items: center;
}
.profit-card-img__wrapper > img {
    padding: 35px 40px;
    background: #12A5DE;
    border-radius: 50%;
}
.profit-img__gradient{
    max-width: 402px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.equipment__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.equipment-content__wrapper{
    max-width: 1538px;
    width: 100%;
    height: 439px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border: 2px solid #FFFFFF;
    border-radius: 18px;
    position: relative;
    padding: 61px;
}
.equipment__title > h1{
    max-width: 927px;
    width: 100%;
}
.equipment__title{
    max-width: 920px;
    width: 100%;
}
.equipment__img{
    position: absolute;
    bottom: 0;
    right: 61px;
}
.container_more--small{
    min-height: 492px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dates__wrapper{
    max-width: 1539px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dates-block{
    width: 100%;
    max-width: 745px;
    min-height: 312px;
    background: #FFFFFF0D;
    border: 2px solid;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 107.4%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.dates-block > h1{
    max-width: 550px;
    width: 100%;
    text-align: center;
}
.dates-btn{
    max-width: 542px;
    width: 100%;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #12A5DE;
    border: 2px solid;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 15px;
}
.materials__wrapper{
    max-width: 1538px;
    width: 100%;
    min-height: 200px;
    background: #26282D;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 73px;
}
.materials-title{
    font-weight: 600;
    font-size: 50px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 500px;
    width: 100%;
}
.phone__wrapper{
    max-width: 1538px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 943px;
    margin: 0 auto;
}
.phone_left-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    max-width: 754px;
    width: 100%;
}
.phone-input{
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff8a;
}

.phone-input::before{
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    max-width: 362px;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
}
.phone-input__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.phone-checkbox__wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 332px;
    width: 100%;
}
.phone_left-block_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 693px;
    width: 100%;
}
.phone-blue__btn{
    max-width: 301px;
    width: 100%;
    height: 80px;
    display: flex;
    padding-left: 44px;
    align-items: center;
    background: #12A5DE;
    border: 2px solid;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 70px;
    position: relative;
    overflow: hidden;
}
.phone-icon{
    background: #0000001a;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 90px;
    height: 80px;
    padding: 20px 25px;
}
.phone_rigth-block{
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 675px;
    width: 100%;
}
.phone_rigth-block > img{
    max-width: 424.55px;
    width: 100%;
    min-height: 456.55px;
    background: #12A5DE;
    border-radius: 50%;
}